<h2>Open Humans connected
  <form class="pull-right" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input class="btn btn-default btn-xs" type="submit" value="Log out">
  </form>
</h2>


<p class="lead">
  This app is now connected to Open Humans! Use the form below to
  connect to your Nightscout app.
</p>


{% if ns_url_file_count == 1 %}
<hr>
<p>
  It looks like you already have a Nightscout URL recorded in your OpenHumans account. See
  the information on this below. If you've changed your Nightscout address, or if the
  information below is incorrect, then simply provide your new URL in the form
  below and this information will be updated.
</p>
{% endif %}


{% if ns_url_file_count > 1 %}
<hr>
<p>
  It looks like you already have multiple Nightscout URs recorded in your OpenHumans account.
  See the information on this below. This will prevent the regular upload of data from running
  as the application is only intended to load data from a single Nightscout instance per
  OpenHumans user. If you re-enter your URL in the form below the listed files will be deleted
  and replaced by your given URL, this should restart the automated data pulls.
</p>
{% endif %}


{% if ns_url_file_count > 0 %}
<h3>Current Nightscout URL</h3>
<table class="table">
  <tr>
    <th>Filename</th>
    <th></th>
    <th>Created at</th>
  </tr>
  {% for filedata in ns_url_files %}
  <tr>
    <td>{{ filedata.basename }}</td>
    <td>
      <a class="btn btn-default btn-xs" href="{{ filedata.download_url }}" download>Download</a>
    </td>
    <td>
      {{ filedata.created }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<hr>
<h3>Initiate data transfer</h3>

{% include 'register/partials/request_xfer_form.html' %}