<p>
  Use this form to initiate automated copies of Nightscout data into Open Humans.
  <b>This app will NOT retain any record of your Nightscout URL.</b>
  Rather the application stores your Nightscout URL in your private Open
  Humans account. This helps keep your server secure and means that you
  can at any point manually delete your Nightscout URL from Open Humans
  if you wish to. Any changes made to this stored URL will also stop any
  future pulls of data from your Nightscout application.
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    Nightscout &rarr; Open Humans Data Transfer
  </div>
  <div class="panel panel-body">
    <form method="post" action="{% url 'transfer' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="nightscoutURL">Your Nightscout URL</label>
        <input type="text" class="form-control" id="nightscoutURL" name=nightscoutURL>

        <input type="checkbox" id="nightscoutFoundationConsent" name="nightscoutFoundationConsent">
        <label for="nightscoutFoundationConsent">
          I give consent for my Nightscout application data to be shared with the Nightscout Foundation.
        </label>

        <input type="checkbox" id="openApsConsent" name="openApsConsent">
        <label for="openApsConsent">
          I give consent for my Nightscout application data to be shared with the Open APS project.
        </label>
      </div>
      <input class="btn btn-primary" type="submit" value="Initiate new data transfer">
    </form>
  </div>
</div>
