
.top-container {
    width: 100%;
    position: absolute;
    top: 120px;
    }

.message-box {
    float: left;
    height: 6%;
    margin-left: 3%;
    width: 33%;
    }

.tabs-container {
    text-align: center;
    height: 5%;
    width: 60%;
    float: right;
    text-align: right;
    margin-right: 3%
    }

.dashboard-section {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    top: calc(8% + 120px);
    display: flex;
    z-index: -2;
    padding-bottom: 80px;
    }

iframe {
    width: 1px;
    min-width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
