


.message-box {
    position: absolute;
    left: 3%;
    color: #fff;
    width: 35%;
    top: 30%;
    }

.fuller-button {width: 70%;}

.main-content {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 60%;
    text-align: center;
    display: table;
    height: auto;
    }
.cell-filler {display: table-cell;}
.left-cell, .right-cell {width: 15%;}
.middle-cell {width: 5%;}

.service-box-1, .service-box-2 {
    display: table-cell;
    width: 32.5%;
    background-color: rgba(14, 17, 22, 0.9);
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
    border: #0dd solid 2px;
    padding: 3%;
    cursor: pointer;
    }

.service-box-top {
    height: 7vh;
    }

.service-images {
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 255, 1.0));
    fill:rgba(0, 170, 170, 0.5);
    height: 80%;
    width: 80%;
    }

.service-box-1:hover, .service-box-2:hover {
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 800ms ease;
    transform: scale(1.05);
    }

.service-hr {
    width: 70%;
    height: 1px;
    margin: 0 auto;
    box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
    background-color: #fff;
    margin-top: 8%;
    }

.service-description {
    height: auto;
    color: rgba(250,250,250,0.8);
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
    padding-top: 8%;
    }

