


.form-container {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    max-width: 900px;
    height: auto;
    padding: 5%;
    background-color: #0a1116;
    border-left:1px solid rgba(102, 102, 102, 0.2);
    border-right: 1px solid rgba(102, 102, 102, 0.2);
    }
.form-breaker {display: block; height: 4vh;}
.bottom-padding {width: 100%; height: 80px;}

.register-title-container {width: 30%;}
.register-title {
    color: #fff !important;
    font-family: 'Nunito', sans-serif;
    }
.register-title-hr {
    box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
    height: 1px;
    background-color: #fff;
    }

.register-text-field, .register-textarea, .irb-select {
    width: 50%;
    font-size: 14px;
    padding-left: 2.5%;
    background-color: rgba(15, 17, 22, 0.8);
    color: #d6d6d6;
    }

.register-text-field, .register-textarea, .select2-container, .select2-selection--single, .select2-container--default {
    height: 40px !important;
    border: 1px solid rgba(250,250,250,0.2);
    border-radius: 3px;
    }
.register-text-field, .register-textarea, .select2-container {box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.2), 0 0 1em rgba(0, 170, 170, 0.2);}
.register-text-field:hover, .register-textarea:hover, .select2-container:hover {box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);}


.select2-container--default .select2-selection--single {background-color: transparent; border: none;}
.select2-results {background-color: rgba(15, 17, 22, 0.8); color: #d6d6d6;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #d6d6d6 !important; line-height: 38px;}

.register-textarea {
    height: 12vh !important;
    width: 100%;
    padding: 1.5%;
    margin-top: 10px;
    }
