


table{
  height: auto;
  width: 100%;
  table-layout: fixed;
  max-height: 45%;
  border-radius: 5px;
}
.tbl-content{
  height:auto;
  max-height: 80%;
  overflow-x:auto;
  margin-top: 0px;
  border: rgba(0, 170, 170, 0.2);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
th, td {text-align: center; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
tbody tr:hover {background-color: rgba(255,255,255,0.02);}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.3);
}