
@import url('https://fonts.googleapis.com/css?family=Roboto');


.tabs{
  width: 60%;
  min-width: 550px;
  max-width: 800px;
  padding:0px;
  list-style:none;
  background:rgba(0, 170, 170, 0.4);
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.2), 0 0 1em rgba(0, 170, 170, 0.2);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  width: 32.8%;
  text-decoration:none;
  color: #d6d6d6;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.tabs a.active{
  color:#fff;
}

.tabs .selector{
  width: 32.8%;
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background: #05abe0;
  background: -moz-linear-gradient(45deg, rgba(15, 17, 22, 0.8) 0%, rgba(15, 17, 22, 0.4) 100%);
  background: -webkit-linear-gradient(45deg, rgba(15, 17, 22, 0.8)0%,rgba(15, 17, 22, 0.4) 100%);
  background: linear-gradient(45deg, rgba(15, 17, 22, 0.8) 0%,rgba(15, 17, 22, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(15, 17, 22, 0.8)', endColorstr='rgba(15, 17, 22, 0.4)',GradientType=1 );
}