
{% extends "layout.html" %}
{% block content %}

<style>

    .login-box, .message-box {
        position: absolute;
        left: 3%;
        color: #fff;
        }

    .login-box {
        width: 25%;
        top: 40%;
        max-width: 350px;
        }

    .message-box {
        width: 35%;
        top: 25%;
        }

    .login-box input {
        width: 100%;
        border:none;
	    padding:10px 20px;
	    border-radius:10px;
	    background:rgba(255,255,255,.2);
	    color:#fff;
	    display:block;
	    margin-top: 5%;
        }
    .login-box .button {
        margin-top: 17px;
        margin-bottom: 5px;
        color:#aaa;
        background: rgba(21, 217, 213, 0.2);
        }
    .login-box .button:hover {
        color: #fff !important;
        background: rgba(21, 217, 213, 0.6);
        }
    .login-box a {
        color: #aaa !important;
        font-size: 12px;
        padding-left: 2%;
        }
    .login-box a:hover {
        color: #fff !important;
        }

</style>


<div class="background-content">
    <img src="{{ url_for('static', filename='images/background/' + 'base_v4.jpg') }}" width="100%">
    <div class="message-box unselectable">
        <h4>Welcome to the OpenAPS data portal.</h4>
    </div>
    <form class="login-box" method="POST">

        <h4>Login</h4>

        <input type="email" name="login-email" placeholder="Email" autocomplete="off" spellcheck="false" required>

        <input type="password" name="login-password" id="password" placeholder="Password" required>

        <input type="submit" class="button" value="Sign In">

        <a href="#" class="reset-button">Reset Password</a><br>
        <a href="/registration">Register</a>

    </form>
</div>


<script>

    $('.reset-button').on('click', function () {

        Swal.fire({
          title: 'Password Reset',
          input: 'email',
          inputPlaceholder: 'Enter your email address'
        }).then( function (result) {

            if ( result.value ) {

                var form = document.createElement('form');
                form.setAttribute('method', 'POST');

                var input = document.createElement('input');
                input.setAttribute('type', 'text');
                input.setAttribute('name', 'password-reset');
                input.setAttribute('value', result.value);

                form.append(input);
                document.body.appendChild(form);

                form.submit();

            };

        });

    });

</script>
<script>

    $(document).ready( function () {

        $('.message-box h4').fitText(1.2);
        $('.login-box h4').fitText(1.1);

    });

</script>

{% endblock content %}