
{% extends 'layout.html' %}

{% block content %}

<link href="{{ url_for('static', filename='css/' + 'register.css') }}" rel="stylesheet">



<form class="form-container" method="POST">

    <div class="register-title-container">
        <div class="register-title">REGISTER</div>
        <div class="register-title-hr"></div>
    </div>
    <br><br>

    <h5>Name</h5>
    <input type="text" class="register-text-field" required name="register-name">

    <div class="form-breaker"></div>

    <h5>Email</h5>
    <input type="text" class="register-text-field" required name="register-email">

    <div class="form-breaker"></div>

    <h5>Phone</h5>
    <input type="text" class="register-text-field" required name="register-phone">

    <div class="form-breaker"></div>

    <h5>Sponsor Institution/Organisation</h5>
    <input type="text" class="register-text-field" name="register-sponsor">

    <div class="form-breaker"></div>

    <h5>Is your research project a research "study"? (As defined by Open Humans, meaning it requires IRB approval)</h5>
    <select class="irb-select" required name="register-irb">
        <option selected disabled></option>
    </select>

    <div class="form-breaker"></div>

    <h5>Which OpenHumans projects do you wish to source data from?</h5>
    <select class="access-select" required name="register-access">
        <option selected disabled></option>
    </select>

    <div class="form-breaker"></div>

    <h5>Please give a high level overview of your proposed project, and explain why you want access to the OpenAPS Data Commons data.</h5>

    <textarea class="register-textarea" required name="register-textarea"></textarea>

    <div class="form-breaker"></div>

    <div class="fuller-button">APPLY</div>

    <div class="bottom-padding"></div>

</form>
<script>

    $('.fuller-button').on('click', function () {

        var regForm = $(this).closest('form');

        if( regForm[0].checkValidity() ) {

            regForm.submit();

        } else {

            regForm[0].reportValidity();

        };

    });



</script>
<script>

    $(document).ready(function() {
        $('.irb-select').select2({
            tags: false,
            width: '50%',
            minimumResultsForSearch: -1,
            data: [
                   { id: "yes", text: "Yes, it is a study and I will have IRB approval for the project."},
                   { id: "no", text: "No, it does not require IRB approval"},
                   { id: "unsure", text: "Not sure"}
                  ]
        });
    });
    $(document).ready(function() {
        $('.access-select').select2({
            tags: false,
            width: '50%',
            minimumResultsForSearch: -1,
            data: [
                   { id: 0, text: "OpenAPS Data Commons"},
                   { id: 1, text: "Nightscout Data Commons"},
                   { id: 2, text: "Access to both"},
                  ]
        });
    });

</script>
<script>

    $(document).ready( function () {

        $('.register-title').fitText(0.75);

    });

</script>

{% endblock content %}
