
{% extends "layout.html" %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

<link href="{{ url_for('static', filename='css/' + 'verify.css') }}" rel="stylesheet">


<div class="background-content">

    <img src="{{ url_for('static', filename='images/background/' + 'base_v4.jpg') }}" width="100%">

    <div class="message-box unselectable">

        <div class="title-text">Verify</div>
        <div class="title-hr"></div>

    </div>

    <div class="verify-form">

        <form method="POST">
            <h6>Email</h6>
            <input class="verify-field" name="verify-email" placeholder="Enter email.." spellcheck="false" required>

            <h6>Code</h6>
            <input class="verify-field" name="verification-code" placeholder="Enter code.." spellcheck="false" required>

            <h6>New Password</h6>
            <input class="verify-field" type="password" name="new-password" placeholder="Enter password.." spellcheck="false" minlength="6" required>
            <input class="verify-field" type="password" name="confirm-password" placeholder="Confirm password.." spellcheck="false" style="margin-top: 2%;" minlength="6" required>

            <div class="fuller-button">SUBMIT</div>

        </form>

    </div>

</div>


<script>


    $('.fuller-button').on('click', function () {

        var verifyForm = $(this).parent('form');

        if( verifyForm[0].checkValidity() ) {

            verifyForm.submit();

        } else {

            verifyForm[0].reportValidity();
    };

    });


</script>
<script>

    $(document).ready( function () {

        $('.message-box .title-text').fitText(1.25);
        $('.verify-form h6').fitText(2.0);
        $('.verify-field').fitText(2.0);

    });

</script>
{% endblock content %}