
{% extends "layout.html" %}
{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

<link href="{{ url_for('static', filename='css/' + 'admin.css') }}" rel="stylesheet">



<div class="background-content">

    <img src="{{ url_for('static', filename='images/background/' + 'base_v4.jpg') }}" width="100%">

    <div class="message-box unselectable">

        <div class="title-text">ADMIN</div>
        <div class="title-hr"></div>

    </div>

    <div class="admin-forms">

        <form method="POST">
            <h6>Add User</h6>
            <input class="enter-user" name="add-user" placeholder="Enter user email.." spellcheck="false" required>
            <span class="fuller-button admin-button">ADD</span>
        </form>

        <br>

        <form method="POST">
            <h6>Deactivate User</h6>
            <select class="user-select" name="deactivate-user" required>
                <option selected disabled></option>
            </select>
            <span class="fuller-button admin-button">REMOVE</span>
        </form>

        <br>

        <div class="fuller-button metrics-button">USER METRICS</div>

        <br>

        <div class="fuller-button applications-button" style="margin-top: 3%;">APPLICATIONS</div>

    </div>


</div>

{% include 'table/users.html' %}
{% include 'table/applications.html' %}

<script>

    $('.close-button').on('click', function () {

        $('.users-overlay').fadeOut('slow');
        $('.applications-overlay').fadeOut('slow');

    });

</script>
<script>

    $('.metrics-button').on('click', function () {

        $('.users-overlay').fadeToggle('slow');

    });
    $('.applications-button').on('click', function () {

        $('.applications-overlay').fadeToggle('slow');

    });

</script>
<script>

    $('.admin-button').on('click', function () {

        var adminForm = $(this).parent('form');

        if( adminForm[0].checkValidity() ) {

            adminForm.submit();

        } else {

            adminForm[0].reportValidity();
        };

    });

</script>
<script>

    $(document).ready( function () {

        $('.message-box .title-text').fitText(1.25);
        $('.admin-forms h6').fitText(3.0);

    });

</script>
<script>

    $(document).ready(function() {
        $('.user-select').select2({
            tags: false,
            width: '70%',
            placeholder: 'Select user..',
            data: [{% for user in users %}
                   { id: "{{ user.id }}", text: "{{ user.email }}"},
                   {% endfor %}
                  ]
        });
    });

</script>
{% endblock content %}